{% extends "layout.html" %} 
{% load static %}
{% load nix %} 
{% block title %}Cart - {% config "site_title" %}{% endblock title %}

{% block main_content %}
<div class="container mx-auto">
  {% include "partials/heading.html" with title="Cart" %}
  {% if cart_items %}
  <section
    class="border-b container flex-grow lg:flex lg:flex-row lg:py-10 max-w-[1200px] mx-auto pb-6"
  >
    <section
      class="container flex flex-col gap-3 md:hidden mx-auto my-3 w-full"
    >
    {% for item in cart_items %}
      <div class="border flex px-4 py-4 w-full">
        <img
          class="object-contain self-start w-20"
          src="{{ item.product.get_primary_image_url }}"
          alt="{{ item.product.name }}"
        />
        <div class="flex flex-col justify-center ml-3 w-full">
          <p class="line-clamp-1 font-semibold text-lg">{{ item.product.name }}</p>
          {% if item.product.sizes.exists %}<p class="text-gray-400 text-sm">Size: {{ item.size.name }}</p>{% endif %}
          {% if item.product.colors.exists %}<p class="text-gray-400 text-sm">Color: {{ item.color.name }}</p>{% endif %}

          <p class="py-3 text-gray-600">{{ item.get_total_price|taka }}</p>
          <div class="flex items-center justify-between mt-2 w-full">
            <div class="flex items-center justify-center">
              <form action="{% url 'decrease_cart_item_quantity' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ item.id }}">
                <button
                  class="active:ring-2 active:ring-black border cursor-pointer duration-100 flex h-8 hover:bg-neutral-100 items-center justify-center w-8"
                >
                  −
                </button>
              </form>
           
              <div
                class="border-b border-t cursor-text flex h-8 items-center justify-center w-8"
              >
                  {{ item.quantity }}
              </div>
              <form action="{% url 'increase_cart_item_quantity' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ item.id }}">
                <button
                  class="active:ring-2 active:ring-black border cursor-pointer duration-100 flex h-8 hover:bg-neutral-100 items-center justify-center w-8"
                >
                  +
                </button>
              </form>
            </div>
            <form action="{% url 'remove_from_cart' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="item_id" value="{{ item.id }}">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash2-icon lucide-trash-2"><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/><line x1="10" x2="10" y1="11" y2="17"/><line x1="14" x2="14" y1="11" y2="17"/></svg>
              </button>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
      
    </section>
    <section
      class="gap-3 grid-cols-1 hidden max-w-[1200px] md:grid pb-10 px-5 w-full"
    >
      <table class="table-fixed">
        <thead class="bg-neutral-100 h-12">
          <tr>
            <th>ITEM</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
            <th>TOTAL</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="divide-y">
          {% for item in cart_items %}
          <tr class="h-28">
            <td class="align-middle">
              <div class="flex">
                <img
                  class="w-20"
                  src="{{ item.product.get_primary_image_url }}"
                  alt="{{ item.product.name }}"
                />
                <div class="flex flex-col justify-center ml-3">
                  <p class="font-bold text-xl line-clamp-1">{{ item.product.name }}</p>
                  {% if item.size %}<p class="text-gray-400 text-sm">Size: {{ item.size.name }}</p>{% endif %}
                  {% if item.color %}<p class="text-gray-400 text-sm">Color: {{ item.color.name }}</p>{% endif %}
                </div>
              </div>
            </td>
            <td class="mx-auto text-center">{{ item.product.price|taka }}</td>
            <td class="align-middle">
              <div class="flex items-center justify-center">
                <form action="{% url 'decrease_cart_item_quantity' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="item_id" value="{{ item.id }}">
                  <button
                    class="active:ring-2 active:ring-gray-500 border cursor-pointer duration-100 flex focus:ring-2 focus:ring-gray-500 h-8 hover:bg-neutral-100 items-center justify-center w-8"
                  >
                    −
                  </button>
                </form>
                  <div
                    class="active:ring-gray-500 border-b border-t cursor-text flex h-8 items-center justify-center w-8"
                  >
                    {{item.quantity}}
                  </div>
                  <form action="{% url 'increase_cart_item_quantity' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{ item.id }}">
                    <button
                      class="active:ring-2 active:ring-gray-500 border cursor-pointer duration-100 flex focus:ring-2 focus:ring-gray-500 h-8 hover:bg-neutral-100 items-center justify-center w-8"
                    >
                      +
                    </button>
                  </form>
              </div>
            </td>
            <td class="mx-auto text-center">{{ item.get_total_price|taka }}</td>
            <td class="align-middle">
            <form action="{% url "remove_from_cart" %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="item_id" value="{{ item.id }}">
              <button type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash2-icon lucide-trash-2"><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/><line x1="10" x2="10" y1="11" y2="17"/><line x1="14" x2="14" y1="11" y2="17"/></svg>
              </button>
            </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>


    <section class="md:max-w-[400px] mx-auto md:px-4 w-full">
      <div>
        <div class="border px-4 py-5 shadow-md">
          <p class="font-bold">ORDER SUMMARY</p>
          <div class="border-b flex justify-between py-5">
            <p>Subtotal</p>
            <p class="font-semibold text-green-600">{{cart.get_total_price|taka}}</p>
          </div>
          <div class="border-b py-5">
            <p>Delivery Charges</p>
            <p class="text-sm mt-2">${% config "delivery_cost_dhaka" %} inside Dhaka, ${% config "delivery_cost" %} outside Dhaka</p>
          </div>
          <a href="{% url "checkout" %}">
            <button class="bg-black px-5 py-2 text-white w-full">
              Proceed to checkout
            </button>
          </a>
        </div>
      </div>
    </section>
  </section>
  {% else %}
  <div class="flex flex-col items-center justify-center h-96">
    <h2 class="text-2xl font-bold mb-4">Your cart is empty</h2>
    <p class="text-gray-600 mb-6 p-2 text-center">Browse the collection and add your first items when you are ready.</p>
    <a href="{% url 'products' %}" class="bg-black text-white px-4 py-2 hover:bg-gray-800 transition">
      Explore the collection
    </a>
  </div>
  {% endif %}
</div>
{% endblock main_content %}