{% load nix %}
{% if page_obj.has_other_pages %}
<nav class="flex items-center justify-center mt-4" aria-label="Pagination">
  <ul class="inline-flex -space-x-px">
    {% if page_obj.has_previous %}
      <li>
        <a href="?{% query_string request page=page_obj.previous_page_number %}" class="px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700" aria-label="Previous">
          &laquo;
        </a>
      </li>
    {% else %}
      <li>
        <span class="px-3 py-2 ml-0 leading-tight text-gray-400 bg-gray-100 border border-gray-300 cursor-not-allowed">&laquo;</span>
      </li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <li>
          <span class="px-3 py-2 leading-tight text-black bg-gray-50 border border-gray-300">{{ num }}</span>
        </li>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <li>
          <a href="?{% query_string request page=num %}" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li>
        <a href="?{% query_string request page=page_obj.next_page_number %}" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700" aria-label="Next">
          &raquo;
        </a>
      </li>
    {% else %}
      <li>
        <span class="px-3 py-2 leading-tight text-gray-400 bg-gray-100 border border-gray-300 cursor-not-allowed">&raquo;</span>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}