
{% load static %}
{% load nix %}
<div class="bg-white max-w-80 mx-auto">
    <div class="w-full aspect-square bg-gray-100">
        <a href="{{ product.get_absolute_url }}" class="block w-full h-full">
            {% if product.get_primary_image_url %}
                <img src="{{ product.get_primary_image_url }}" alt="{{ product.name }}" loading="lazy" onerror="this.onerror=null;this.src='{{ product.get_primary_image_fallback_url }}';" class="w-full h-full object-cover">
            {% else %}
                <img src="https://placehold.co/150/?text=No+image?bg=ccc" alt="No image" class="w-full h-full object-cover">
            {% endif %}
        </a>
    </div>
    <div class="p-4">
        <a href="{{ product.get_absolute_url }}" class="text-gray-800 font-semibold text-lg line-clamp-1 mb-3">{{ product.name }}</a>
        <p class="text-gray-600 text-sm line-clamp-2 mb-2">{{ product.short_description }}</p>
        <span class="text-black font-semibold">{{ product.price|taka }}</span>
        {% stock_status product %}
    </div>
</div>