{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% comment %} <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script> {% endcomment %}
    <script defer src="{% static "js/alpine.js" %}"></script>
    <link rel="shortcut icon" href="{% static "img/favicon.svg" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "css/style.css" %}?v=20260837">
    {% block meta_description %}{% endblock meta_description %}
    {% block head %}{% endblock %}
    {% block style %}{% endblock style %}
</head>
  <body>
    {% block content %}{% endblock content %}
  </body>
</html>